.button span {
    z-index: 20;
}

.button:after {
    background: #0a8fc4;
    content: "";
    height: 60px;
    width: 1px;
    opacity: .1;
    position: absolute;
    top: 0;
    left: -1px;
    transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 10;
    border-radius: 30px;
}

.button:hover:after {
    width: 260px;
    height: 73px;
    transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);
    font-size: 1.29rem;
}

.button {
    border-radius: 30px;
    color: #0a8fc4;
    width: 230px;
    height: 60px;
    font-size: 1.15rem;
    font-weight: bold;
    transition: .4s;
    cursor: pointer;
    background-color: white;
}

.button:hover {
    width: 260px;
    height: 73px;
    font-weight: bold;
    font-size: 1.29rem;
    border-radius: 45px;
}

@media (min-width: 1024px) {
    .button {
        font-size: 0.9rem;
    }

    .button:hover {
        font-size: 1.01rem;
    }
}

@media (min-width: 1440px) {
    .button {
        font-size: 0.85rem;
    }

    .button:hover {
        font-size: 0.95rem;
    }
}



