*, *:before, *:after {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    font-size: 14px;
    color: black;
    text-align: center;
}

h1 {
    font-size: 1.75rem;
    color: black;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

.benefits, .operator, .for-who, .conditions, .salary, .program, .reviews {
    margin-top: 13%;
    margin-bottom: 13%;
}

.line {
    margin: 3% auto;
    width: 13%;
    border-bottom: 3px solid black;
    border-radius: 40px;
}

@media (min-width: 576px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 22px;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 24px;
    }
}