.conditions .row {
    margin-top: 5%;
}

.condition-item img {
    width: 30%;
    height: 30%;
}

.condition-item p {
    margin-top: 4%;
}

.bound {
    margin-top: 20vh;
    margin-bottom: 5vh;
    overflow: hidden;
    position: relative;
    border: 2px solid #0a8fc4;
}