.slider-container {
    margin-top: 5%;
}

.review-shell {
    width: 100%;
    height: 17.5rem;
}

.review {
    height: 90%;
    width: 95%;
    vertical-align: top;
    display: inline-block;
    position: relative;
    border: solid 1px #6f6f6f;
    border-radius: 25px;
    box-shadow: 0 0 4px 1px rgba(81, 82, 82, 0.6);
}

.review-text {
    padding: 5%;
    font-size: 1rem;
}

.review-header {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 3% auto 0;
}

.client-login {
    margin: auto 5%;
    display: flex;
}

.review-header p {
    text-align: left;
    font-size: 1.25rem;
    margin-bottom: 0;
}

.avatar-img {
    width: 20%;
    height: auto;
}

.prev, .next {
    display: inline-block;
    font-size: 22px;
    margin: 30px 0;
    cursor: pointer;
    width: 30px;
    transition: .6s;
}

.prev:hover, .next:hover {
    font-weight: 900;
}

.nav-data {
    display: inline-block;
    font-size: 14px;
    margin-top: 30px;
}