.welcome-page {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(26, 40, 120, 0.7), rgba(10, 143, 196, 0.7)), url(../sources/welcome_page/bg2-offer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header1 {
    height: 35%;
}

.header2 {
    height: 40%;
}
.header1, .header2, .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header1 h1, .header2 h2 {
    color: whitesmoke;
}

.header2 h2 {
    font-weight: normal;
}

.button-container {
    height: 25%;
}

.boundless {
    overflow: hidden;
    position: relative;
    border: none;
}

@media (orientation: landscape) {
    .welcome-page {
        background-image: linear-gradient(to bottom, rgba(26, 40, 120, 0.6), rgba(10, 143, 196, 0.6)), url(../sources/welcome_page/bg-offer-4000-compressed.jpg);
    }
}

@media (orientation: landscape) and (min-width: 1200px) {
    .welcome-page {
        background-image: linear-gradient(to bottom, rgba(26, 40, 120, 0.6), rgba(10, 143, 196, 0.6)), url(../sources/welcome_page/bg-offer-4000.jpg);
    }
}

@media (min-width: 576px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 22px;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 24px;
    }
}